@font-face {
    font-family: 'Liberation Sans';
    src: url('../fonts/liberation-sans/LiberationSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Liberation SansBold';
    src: url('../fonts/liberation-sans/LiberationSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Liberation Sans BoldIt';
    src: url('../fonts/liberation-sans/LiberationSans-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Liberation Sans It';
    src: url('../fonts/liberation-sans/LiberationSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
