.apps-wrapper {
    padding: 15px;
    background-color: #fff;
}

.app-list {
    list-style-type: none;
    @include clearfix;
    > li {
        position: relative;
        .box_wrap {
            display: block;
            &:hover,
            &:focus {
                text-decoration: none;
            }
            &:hover {
                .app-list-item {
                    background-color: #f9f9f9;
                }
            }
        }
        &:last-child {
            .app-list-item {
                border-bottom: 1px solid $border-gray;
            }
        }
    }
    &.one-column {
        > li {
            .app-list-item {
                border-left: 1px solid $border-gray;
                border-bottom: none;
            }
            &:nth-last-child(1) {
                .app-list-item {
                    border-bottom: 1px solid $border-gray;
                }
            }
        }
    }
    .app-list-item {
        padding: 9.5px 8px;
        border: 1px solid $border-gray;
        border-bottom: none;
        .rating {
            width: 75px;
        }
        &:hover {
            background-color: $hover-color;
        }
        .thumb_side {
            float: left;
            width: 72px;
        }
        .right_side {
            float: left;
            width: calc(100% - 105px);
        }
        img {
            height: 60px;
            width: 60px;
            float: left;
            margin-right: 12px;
        }
        .app-name {
            font-size: 14px;
            line-height: 16px;
            overflow: hidden;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: $dark;
            font-weight: 300;
        }
        .app-version {
            display: inline-block;
            font-size: 12px;
            color: $dark-gray;
            font-weight: 300;
        }
    }
    .down_icon {
        position: absolute;
        right: 10px;
        bottom: 4px;
    }
    .download-cont {
        .app-list {
            .app-list-item {
                img {
                    height: 150px;
                    width: 150px;
                }
            }
        }
    }
}
