.details-cont {
    .content-box {
        overflow: hidden;
        @include transition(0.3s all);
        .more-btn-dots {
            border-bottom: 1px solid #e2e2e2;
        }
        &.expanded {
            max-height: 5000px;
        }
    }
    .app-info {
        display: table;
        width: 100%;
        .app-thumb {
            display: table-cell;
            vertical-align: middle;
            padding-right: 15px;
            width: 100px;
            img {
                height: 100px;
                width: 100px;
            }
        }
        .right-half {
            display: table-cell;
            vertical-align: top;
            h4 {
                font-size: 20px;
                color: #24292D;
                margin-bottom: 7px;
            }
            .version-ul {
                li {
                    width: auto;
                    margin-right: 40px;
                }
            }
        }
        .down-wrap {
            display: table-cell;
            vertical-align: top;
            text-align: right;
        }
    }
    .desc {
        margin-top: 45px;
        line-height: 20px;
        h4 {
            color: #0a1b29;
            margin-bottom: 20px;
            font-weight: 400;
        }
        .description {
            color: rgba(#0a1b29, 0.5);
            font-size: 13px;
            p {
                margin-bottom: 10px;
            }
        }
    }
}
