.header {
    background-color: $dark-blue;
    padding: 5px 15px;
    position: relative;
    .mobile-menu {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 52px;
        background: #fff;
        text-align: left;
        opacity: 0;
        visibility: hidden;
        z-index: 100;
        overflow-y: auto;
        transition: 0.55s all;
        -webkit-transition: 0.55s all;
        >ul {
            list-style-type: none;
            > li {
                opacity: 0;
                transform: translate3d(-5px, 10px, 0);
                -webkit-transform: translate3d(-5px, 10px, 0);
                transition: 0.7s transform, 0.7s opacity;
                -webkit-transition: 0.7s transform, 0.7s opacity;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                &.revealed {
                    opacity: 1;
                    transform: translate3d(0, 0, 0);
                    -webkit-transform: translate3d(0, 0, 0);
                }
                a {
                    color: #949494;
                    font-family: $main-font;
                    text-transform: uppercase;
                    font-weight: 300;
                    padding: 20px 15px;
                    display: block;
                    border-bottom: 1px solid #f1f1f1;
                    @include transition(0.2s all);
                    &:hover,
                    &:focus {
                        background-color: rgba($dark-blue, 0.9);
                        border-color: rgba($dark-blue, 0.9);
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .logo {
        float: left;
        display: block;
        width: 160px;
        object {
            margin-bottom: -5px;
        }
        img {
            max-width: 100%;
        }
    }
    .mb-menu-toggle {
        position: absolute;
        top: 50%;
        right: 20px;
        margin-top: -8px;
        width: 24px;
        .line {
            height: 2px;
            display: block;
            border-radius: 4px;
            margin: 5px 0;
            background-color: #fff;
            transition: opacity 0.25s ease, transform 0.25s 0.1s ease-in-out;
            -webkit-transition: opacity 0.25s ease, transform 0.25s 0.1s ease-in-out;
            &.top {
                margin-top: 0 !important;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &.search-open {
        .search-place {
            visibility: visible;
            opacity: 1;
        }
        .search-toggle {
            .icon1.icon1-loop {
                background-image: url(../images/remove.svg);
            }
        }
    }
    .search-toggle {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 60px;
    }
    .search-place {
        position: absolute;
        top: 100%;
        right: 0px;
        padding: 10px;
        z-index: 30;
        width: 100%;
        background-color: rgba(10, 27, 41, 0.9);
        visibility: hidden;
        opacity: 0;
        @include transition(0.33s all);
        .form-control {
            display: block;
            width: 100%;
            height: 30px;
            padding: 2px 10px;
            padding-right: 40px;
            border-radius: 4px;
            box-shadow: none;
            font-weight: 500;
        }
        button {
            position: absolute;
            width: 34px;
            height: 30px;
            right: 10px;
            top: 10px;
            border: none;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            background-color: $light-green;
            outline: 0;
            text-align: center;
            background-image: url(../images/search.svg);
            background-repeat: no-repeat;
            background-size: 23px;
            background-position: center;
            i {
                color: #fff;
            }
        }
    }
}

nav {
    background-color: #ececec;
    .nav-ul {
        li {
            list-style-type: none;
            float: left;
            padding: 10px 15px;
            margin-right: 20px;
            a {
                text-decoration: none;
                font-size: 13px;
                color: #99a0a5;
                font-weight: 700;
                text-transform: uppercase;
                &:hover {
                    color: #0a1b29;
                }
            }
        }
        li:first-child {
            padding-left: 0;
        }
    }
}
