.top-slider {
    .owl-item {
        &.active {
            .info-overlay {
                @include translate(0, 0);
                opacity: 1;
            }
        }
    }
    .img-wrapper {
        padding-bottom: 56.25%;
        position: relative;
        @media(min-width: 1200px) {
            min-height: 433px;
        }
        .img-self {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .info-overlay {
            position: absolute;
            right: 0;
            top: 0;
            width: 250px;
            height: 100%;
            padding: 20px;
            opacity: 0;
            background-color: rgba(0, 0, 0, 0.6);
            @include transition(0.3s 0.3s all);
            @include translate(100%, 0);
            .logo-place {
                float: left;
                margin-right: 10px;
            }
            .app-descr {
                color: #fff;
                font-size: 12px;
            }
            .btn-green {
                margin-top: 25px;
            }
            .title {
                margin-bottom: 15px;
                h2 {
                    color: #fff;
                    font-weight: 500;
                    text-transform: uppercase;
                }
            }
        }
    }
    .owl-dots {
        position: absolute;
        right: 20px;
        bottom: 10px;
        .owl-dot {
            height: 6px;
            width: 6px;
            background-color: #fff;
            border-radius: 17px;
            margin-left: 10px;
            display: inline-block;
            vertical-align: middle;
            @include transition(0.2s all);
            &.active {
                @include scale(1.3);
            }
        }
    }
}
