[Unit]
Description=serverpack service
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory={{ cproot }}
ExecStart={{ venvroot }}/bin/gunicorn --certfile={{ crtpath }} --keyfile={{ privkeypath }} --timeout 600 --access-logfile - --workers 3 --bind 0.0.0.0:{{ spport }} {{ projectname }}.wsgi:application

[Install]
WantedBy=multi-user.target
