@mixin center-block() {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

@mixin center-hor-ver() {
	top: 50%;
	@include translate(0, -50%);
}

@function em($px, $base: $font-size-base-int) {
    @return ($px / $base) * 1 + em;
}